<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <div class="carousel">
      <img src="./img/img-1.jpg" draggable="false" alt="3 trosos de sandia">
      <img src="./img/img-2.jpg" draggable="false" alt="limon sobre platos">
      <img src="./img/img-3.jpg" draggable="false" alt="cubos de azucar apilados">
      <img src="./img/img-4.jpg" draggable="false" alt="naranja partida a la mitad">
      <img src="./img/img-5.jpg" draggable="false" alt="telefono celular con auriculares sobre un fondo mitad rojo y amarillo">
      <img src="./img/img-6.jpg" draggable="false" alt="pisina">
      <img src="./img/img-7.jpg" draggable="false" alt="naranja en un borde">
      <img src="./img/img-8.jpg" draggable="false" alt="">
      <img src="./img/img-9.jpg" draggable="false" alt="">
    </div>
    <i id="rigth" class="fa-solid fa-angle-right"></i>
  </div>
  <script src="main.js"></script>
</body>
</html>