@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

container {
  display: flex;
  gap: 10px;
}

.btn-nav {
  color: #279960;
  text-decoration: none;
  width: auto;
  padding: 10px;
  border-radius: 8px;
  transition: all 300ms ease-in;
  position: relative;
}

.btn-nav::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #279960;
  border-radius: 50px;
  transform: scaleX(0);
  transition: all 300ms ease-in-out;
}

.btn-nav:hover::after {
  transform: scaleX(1);
}