<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
  <header>
    <a href="#" class="logo">Movies</a>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Adults</a></li>
      <li><a href="#">Kids</a></li>
      <li><a href="#">Trend</a></li>
      <li><a href="#">My List</a></li>
    </ul>
    <div class="search">
      <input type="text" placeholder="search">
      <p>icon</p>
    </div>
  </header>
  <main class="banner">
    <div class="content active">
      <img
        src="./images/titulos/the-little-mermaid-title.png"
        alt="imagen titulo pelicula the little mermaid"
        class="movie-title"
      >
      <h4>
        <span>2023</span>
        <span>+12</span>
        <span>2h 14min</span>
        <span>Romance</span>
      </h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit, quod efficiies dicta nemo
        paratur excepturi perspiciatis inventore molestias.Aliquid volumtatem eligendi porro
        totam in execitationes quo dolore.
      </p>
      <div class="button">
        <a href="#">
          <p>ic</p>
          Watch
        </a>
        <a href="#">
          <p>ic</p>
          My List
        </a>
      </div>
      <div class="carousel-box"></div>
      <a href="#" class="play">
        <p>icon</p>
        Watch Trailer
      </a>
      <ul class="sci">
        <li><a href="#">facebook</a></li>
        <li><a href="#">youtube</a></li>
        <li><a href="#">twiter</a></li>
      </ul>
    </div>
  </main>
  <script src="main.js"></script>
</body>
</html>