<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Skills Bar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>
    <div class="wraper">
      <img src="cookie.png" alt="">
      <div class="content">
        <header>Cokies contente</header>
        <p>El sitio usa cookies para mejorar la experiencia del usuario</p>
        <div class="buttons">
          <button class="set-cookie item">Aceptar</button>
          <a href="#" class="item">leer mas</a>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>